<a href="https://colab.research.google.com/github/Priyam8210/CyberLab/blob/main/K_mean_clustering_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df_train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/emnist-letters-train.csv")
df_test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/emnist-letters-test.csv")

In [ ]:
df_train.describe()

,23,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.406,0.407,0.408,0.409,0.410,0.411,0.412,0.413,0.414,0.415
count,88799.000000,88799.0,88799.0,88799.0,88799.000000,88799.000000,88799.000000,88799.000000,88799.000000,88799.000000,...,88799.0,88799.0,88799.0,88799.000000,88799.000000,88799.0,88799.0,88799.0,88799.0,88799.0
mean,13.519161,0.0,0.0,0.0,0.000011,0.003987,0.016757,0.024640,0.021487,0.017140,...,0.0,0.0,0.0,0.003041,0.000360,0.0,0.0,0.0,0.0,0.0
std,7.502906,0.0,0.0,0.0,0.003356,0.544042,1.547695,1.915987,1.803280,1.620203,...,0.0,0.0,0.0,0.823450,0.107386,0.0,0.0,0.0,0.0,0.0
min,1.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,7.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,14.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,20.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
max,26.000000,0.0,0.0,0.0,1.000000,107.000000,213.000000,217.000000,214.000000,216.000000,...,0.0,0.0,0.0,244.000000,32.000000,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_test.describe()

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.548,0.549,0.550,0.551,0.552,0.553,0.554,0.555,0.556,0.557
count,14799.000000,14799.0,14799.0,14799.0,14799.0,14799.000000,14799.000000,14799.000000,14799.000000,14799.000000,...,14799.0,14799.0,14799.0,14799.0,14799.0,14799.0,14799.0,14799.0,14799.0,14799.0
mean,9.757348,0.0,0.0,0.0,0.0,0.000878,0.024123,0.044665,0.018717,0.020677,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,5.344262,0.0,0.0,0.0,0.0,0.106863,1.413602,2.611553,1.100437,1.238699,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,5.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,10.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,14.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,19.000000,0.0,0.0,0.0,0.0,13.000000,108.000000,208.000000,106.000000,126.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_train.head()

,23,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.406,0.407,0.408,0.409,0.410,0.411,0.412,0.413,0.414,0.415
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_test.head()

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.548,0.549,0.550,0.551,0.552,0.553,0.554,0.555,0.556,0.557
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_data = np.array(df_train)
test_data = np.array(df_test)

In [ ]:
label_train = train_data[:, 0]
label_test = test_data[:, 0]
print(label_train.shape)
print(label_test.shape)

(88799,)
(14799,)

In [ ]:
label_train.shape = (88799, 1)
label_test.shape = (14799, 1)

In [ ]:
X_train = train_data[:, 1:]
X_test = test_data[:, 1:]

In [ ]:
m1 = np.size(X_train, 0)
m2 = np.size(X_train, 1)

In [ ]:
def ecludian(X, cent):
  return np.sqrt(np.sum(((X-cent)**2)))

In [ ]:
def close_centroid(s, cen):
  dist = [ecludian(s, pt) for pt in cen]
  close_id = np.argmin(dist)
  return close_id

In [ ]:
def init_cluster(X, centroid, K):
  cluster = [[] for _ in range(K)]
  for i, sample in enumerate(X):
    cen_id = close_centroid(sample, centroid)
    cluster[cen_id].append(i)
  return cluster

In [ ]:
def centroid_form(X, cluster, K):
  n1 = np.size(X, 1)
  centroid = np.zeros((K, n1))
  for i, cluster in enumerate(cluster):
    mean = np.mean(X[cluster], axis = 0)
    centroid[i] = mean
    return centroid

In [ ]:
def get_label(cluster, n):
  label = np.empty(n)
  for id_c, cl in enumerate(cluster):
    for sa_id in cl:
      label[sa_id] = id_c
  return label

In [ ]:
def prediction(X, K, iter):
  centriod = []
  #initialise centroid
  n =  np.size(X, 0)
  random_sample = np.random.choice(n, K, replace= False)
  centroid = [X[i] for i in random_sample]

  for _ in range(iter):
    #update cluster
    cluster =  init_cluster(X, centroid, K)

    #update centroid
    centroid = centroid_form(X, cluster, K)

  return get_label(cluster, n), centroid

In [ ]:
label , centroid, cluster = prediction(X_train, K=26, iter =100)

In [ ]:
def accuracy(pred, Y):
  n = np.size(Y, 0)
  j=0
  for i in range(n):
    if pred[i] == Y[i]:
      j = j+1

  return j/n

In [ ]:
train_acc = accuracy(label, label_train)

In [ ]:
# testing 
n1 =  np.size(X_test, 0)
test_cluster = iinit_cluster(X_test, centroid, K = 26)
test_label = get_label(test_cluster, n1)

In [ ]:
print(test_cluster)

In [ ]:
test_acc = accuracy(test_label, label_test )

In [ ]:
print(test_acc)